body{
  background: lightgrey;
}

svg{
  background-image: url("https://www.fao.org/fileadmin/user_upload/gfoi/imgs/1_Remaining%20tropical%20rainforest%20patches.png");
  background-size: cover;
  border: 2px solid rgba(107,107, 107,0.8);
}

.objeto_espacial:hover{
  stroke: yellow;
}